{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "globals": {
      "React": true,
      "JSX": true
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".tsx"] }]
  },
  "overrides": [
    {
      "files": ["*.mdx", "*.md"],
      "extends": ["plugin:mdx/recommended", "prettier"]
    }
  ]
}
